/* Load and define fonts. */
@font-face {
	font-family: "HKGrotesk";
	src: url("fonts/HKGrotesk/HKGrotesk-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "HKGrotesk";
	src: url("fonts/HKGrotesk/HKGrotesk-Italic.otf") format("opentype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "HKGrotesk";
	src: url("fonts/HKGrotesk/HKGrotesk-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "SuperMindset";
	src: url("fonts/SuperMindset/Super Mindset.ttf");
}

@font-face {
	font-family: "SuperFoods";
	src: url("fonts/SuperFoods/Super Foods.ttf");
}

* {
	--light-pink: #f0b5c4;
	--light-blue: #b0d2ef;
	--white: #ffffff;
	--blue: #5bcefa;
	--pink: #df0d79;
	--text: #04004d;
	--card-bg: #ffffff;
	--link: var(--pink);

	--font-body: "HKGrotesk";
	--font-heading: "SuperFoods";
	--font-nav: "SuperMindset";

	--radius-item: 8px;
	--radius-card: 16px;
}

html,
body {
	margin: 0;
	padding: 0;
}

/* Define universal styles within the body section, mainly used for defining default paragraph/text formatting. */
body {
	line-height: 1.3;
	color: #04004d;
	font-family: var(--font-body);
	background: var(--light-blue);
	word-break: break-word;
}

/* Define "main", used for website background colour shown behind the main-stack. */
main {
	padding: 0px;
}

/* The main container that holds the entire stack of containers. */
.mainStack {
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	padding: 8px;
	padding-top: 0px;
	background-image: url("images/UI/transFlagBackgroundFadeOut.svg");
	background-attachment: scroll;
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

/* The container used for holding the wepbages main banner image. */
.titleImageContainer {
	display: flex;
	justify-content: left;
	padding: 0px;
	margin: 0;
}

.titleImageContainer img {
	width: max(50%, 320px);
	max-width: 100%;
	margin-top: 12px;
	margin-bottom: 4px;
}

/* Define styles for various types of images */
.meetupPoster {
	width: 240px;
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: var(--radius-item);
}

.transFlagPole {
	width: 160px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

.photo {
	width: max(50%, 160px);
	border-radius: var(--radius-item);
	height: auto;
}

svg {
	shape-rendering: geometricPrecision;
}

/* Define the navigation bar. */
nav {
	display: flex;
	gap: 8px;
	padding: 12px;
	margin-top: 12px;
	background: var(--light-pink);
	border-radius: var(--radius-card) var(--radius-card) 0px 0px;
}

nav a:link,
nav a:visited {
	font-family: var(--font-nav);
	text-decoration: none;
	color: var(--white);
	font-size: 18px;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: var(--text);
	paint-order: stroke fill;
}

/* Define the buttons in the navigation bar. */
nav button {
	background-color: var(--blue);
	border: none;
	border-radius: var(--radius-item);
	padding-top: 6px;
	/* font has an odd thing where it looks closer to the top than the bottom
	   so add a little extra padding on top to make it cleaner */
	padding-bottom: 4px;
	padding-left: 12px;
	padding-right: 12px;
}

.dropshadow,
.container {
	filter: drop-shadow(8px 8px var(--text));
}

/* Define the containers (general use columnar containers
for holding text and images), and their subset styles like text and images. */
.container {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	background: var(--card-bg);
	margin-bottom: 24px;
	padding: 0px;
	border-radius: var(--radius-card);
	overflow: hidden;
	padding: 24px 36px;
	gap: 16px;
}

.container img {
	display: block;
	margin: 0px;
	height: auto;
	display: block;
}

.container p {
	font-family: var(--font-body);
	padding: 0px;
	margin: 0px;
}

.container h3 {
	font-family: var(--font-heading);
	font-weight: 700;
	font-size: 36px;
	padding: 0px;
	padding-bottom: 4px;
	margin: 0px;
	letter-spacing: 1.5px;
	color: var(--text);
}

.container h2 {
	font-family: var(--font-body);
	font-weight: 700;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}

.container ul {
	padding-left: 16px;
}

.container i {
	font-family: var(--font-body);
	font-style: italic;
}

/* Define styles for the "next event" container. */
#nextEvent {
	border-radius: 0 0 var(--radius-card) var(--radius-card);
	background: var(--card-bg);
}

/* Define the "text boxes" (horiontal rows that go within the columnar "containers".) */
.textBox {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 0;
	margin: 0px;
	gap: 8px;
	width: 100%;
}

.textBox a:link,
.textBox a:visited {
	text-decoration: none;
	color: var(--link);
	font-weight: 600;
}

/* Redefine elements when screen is below a given width, used for viewing the website on mobile. */
@media (max-width: 600px) {
	nav {
		flex-direction: column;
	}

	.container {
		flex-direction: column;
		padding: 16px 20px;
	}
}
